.navbar {
  background-color: #ffffff; /* black navbar */
  color: #fff; /* white text */
  padding: 15px 20px;
  border-radius: 8px;
}

.navbarBrand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navLink {
  margin: 0 10px;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.toggleBtn {
  margin-left: auto;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
}

