.navbar {
  background-color: #000; /* black navbar */
  color: #fff; /* white text */
  padding: 15px 20px;
  border-radius: 8px;
}

.navbarBrand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}

.navLink {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

